.footerInput{
  position: fixed;
  left: 0;
  bottom: 3px;
  width: 99%;
  background-color: blueviolet;
  color: white;
  text-align: center;
  padding: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 35px 0;
  margin-left: 5px;
  z-index: 99
}

.footerInput input {
  color: aliceblue;
  margin: 0 10px 5px 0;
}

.title, .desc{
  display: flex;
  align-items: baseline;
}

.title button, .desc button {
  margin-left: 10px;
}

.editContainer{
  border: 1px solid grey;
  margin: 30px 0;
  padding: 15px;
  border-radius: 10px;
}

.editQuestionCont{
  margin-left: 10px
}
