body {
  background-color: azure;
}

.nav {
  background-color: #673ab7;
}

.answerInput {
  position: relative !important;
  opacity: 100% !important;
  margin-right: 6px;
}

.gamesTitleMap{
  width: 150px;
}

.answerLabel {
  display: flex;
  align-items: center;
}
.loginForm{
  display: flex;
  flex-direction: column;
}

.addGameForm{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
}

.h3allgames {
  color: #673ab7;
}

.loginSubmit{
  margin: 0;
  padding: 0;
  border: 0;
}

.errorContainer{
  margin-top: 10px;
}

.errorContainer p {
  color: crimson;
}

.add {
  margin: 5px;
  padding: 0;
  border: 0;
  width: 140px;
}

.addQuestion{
  margin: 10px auto;
  padding: 0;
  border: 0;
  width: 140px;
}

.actionBtnGreen a {
  margin: 0 15px;
  color: green;
}

.actionBtnRed a {
  margin: 0 15px;
  color: red;
}
