body {
  background-color: azure;
}

.nav {
  background-color: #673ab7;
}

.answerInput {
  position: relative !important;
  opacity: 100% !important;
  margin-right: 6px;
}

.gamesTitleMap{
  width: 150px;
}

.answerLabel {
  display: flex;
  align-items: center;
}
.loginForm{
  display: flex;
  flex-direction: column;
}

.addGameForm{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
}

.h3allgames {
  color: #673ab7;
}

.loginSubmit{
  margin: 0;
  padding: 0;
  border: 0;
}

.errorContainer{
  margin-top: 10px;
}

.errorContainer p {
  color: crimson;
}

.add {
  margin: 5px;
  padding: 0;
  border: 0;
  width: 140px;
}

.addQuestion{
  margin: 10px auto;
  padding: 0;
  border: 0;
  width: 140px;
}

.actionBtnGreen a {
  margin: 0 15px;
  color: green;
}

.actionBtnRed a {
  margin: 0 15px;
  color: red;
}

.succes {
  color: green;
}

.danger {
  color: red;
}

.number {
  width: 20% !important;
  margin-right: 15px !important;
}

.numberContainer {
  display: flex;
  justify-content: center;
}

.succesCreateMsg{
  display: flex;
  justify-content: center;
  color: green;
  border-bottom: 0.2px;
  border-bottom-color: green;
  border-bottom-style: solid;
}

.informEditMsg{
  display: flex;
  justify-content: center;
  color: blueviolet;
}

.createGameCont {
  border: 1px solid #546e7a;
  border-radius: 16px;
  padding: 10px;
}

.newGameInfo{

}

.newGameQuestionCont{
  padding-left: 20px;
}

.newGameQuestionCont p{
  margin-top: 0;
}

.newGameQuestionCont h4{
  margin-bottom: 0;
}

.newGameBtn{
  display: flex;
  justify-content: space-evenly;
}
